.rating-container {
  display: flex;
  background-color: var(--color-light-grayish-magenta);
  gap: 2rem;
  padding: 1.25rem 2.5rem 1.25rem 2rem;
  border-radius: 0.5rem;
  font-size: 1.05rem;
}

.rating-container:nth-child(1) {
  align-self: flex-start;
}
.rating-container:nth-child(2) {
  align-self: center;
}

.rating-container:nth-child(3) {
  align-self: flex-end;
}

.rating-text-container {
  font-weight: 700;
  color: var(--color-very-dark-magenta);
}

.rating-container:nth-child(1) .rating-text-container {
  padding-right: 2rem;
}
.rating-container:nth-child(3) .rating-text-container {
  padding-right: 1.75rem;
}

.star-container {
  display: flex;
  gap: 0.5rem;
}

@media only screen and (max-width: 62.5em) {
  .rating-container {
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }

  .rating-container:nth-child(1),
  .rating-container:nth-child(2),
  .rating-container:nth-child(3) {
    align-self: stretch;
  }

  .rating-container:nth-child(1) .rating-text-container,
  .rating-container:nth-child(3) .rating-text-container {
    padding: 0;
  }
}
