.about {
  grid-area: about;

  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  padding-right: 4rem;
}

.heading {
  font-size: 3.5rem;
  color: var(--color-very-dark-magenta);
}

.text {
  color: var(--color-grayish-magenta);
  font-size: 1.1rem;
  line-height: 1.25;
}

@media only screen and (max-width: 62.5em) {
  .about {
    padding: 0;
    text-align: center;
  }
}
